div#debug-tabs > * {
    text-shadow: none;
}

.debug, div[class^="debug"] {
    width: 100%;
    overflow: auto;
    margin: 0px 0px 10px 0px;
    background: white;
    color: black;
    font-family: Verdana;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 10px;
    line-height: 12px;
    display: block;
    max-width: 1000px;
    text-shadow: none;
}

    div[class^="debug"] div{
        display: block;
    }

    div[class^="debug"] span{ }

        div[class^="debug"] span.toggle{
            cursor: hand;
            cursor: pointer;
            font-weight: bold;
        }

        div[class^="debug"] span.label{
            padding: 2px;
            font-size: 10px;
        }
        div[class^="debug"] span.ident{
            color: #a2a2a2;
        }

    div[class^="debug"] ul li{
        display: block;
        color: black !important;
    }
    div[class^="debug"] ul li:hover{
    }

    div[class^="debug"] .row{
        display: block;
        margin: 0;
    }

	div[class^="debug"] div.header{
		background-color: #0E5B72;
        color: white;
        padding: 3px 5px;
        font-size: 12px;
        margin: 0 0 5px;
	}

ul, ul ul {
   list-style-type: none;
   color: black;
   margin: 0 10px;
}

    div#debug-tabs{
        background-color: #272727;
        border-radius: 3px;
    }

    div#debug-tabs > ul{
        border: none;
        margin: 0 0 0 3px;
    }
    div#debug-tabs > li{
        margin-bottom: 0;
    }
    div#debug-tabs ul li div.label,
    div#debug-tabs ul li a{
        display: inline-block;
    }
    div#debug-tabs ul li div.label{
        color: black;
        text-shadow: none;
    }
    div#debug-tabs ul li.active div.label{
        background-color: white;
    }

    div#debug-tabs ul li a{
        color: white;
        border-radius: 0;
        background: #2D2D2D;
        margin-right: 0;

        border-top: 0;
        border-right: 1px solid #343434;
        border-left: 1px solid #191919;
        border-bottom: 5px solid #232323;
    }
    div#debug-tabs ul li.active a{
        background: #436188;
        border-bottom: 5px solid #344E71;
    }
    div#debug-tabs .well{
        background: #272822;
        border: 0;
        border-color: none;
        border-radius: none;
        color: white;
    }
    div#debug-tabs .well ul li{
        color: white;
    }

    div#debug-tabs div.tab-pane table{
        color: white;
    }

    div#debug-tabs div.tab-pane.queries table{
        border: 1px solid #343434;
        padding: 3px;
        margin-bottom: 10px;
        border-radius: 0;
    }
    div#debug-tabs div.tab-pane.queries table td:not(.error){
        border-top: 0;
    }
    div#debug-tabs div.tab-pane.memory table tr{
        color: white;
        border-collapse: collapse;
    }
    div#debug-tabs table tr.success td{
        background-color: lime;
    }
    div#debug-tabs table tr.error td{
        background-color: red;
    }



/**
 *  Debug Code Table in the bottom.
 */

table.debugCode{
    background-color: #F7F7F9;
    box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset;
    width: 100%;
}

    table.debugCode tr{

    }

        table.debugCode tr td{
            border-top: none;
            padding: 0;
            color: black;
        }

        table.debugCode tr td.error{
            border: 1px solid red;
            background-color: #F2CECD;
        }

        table.debugCode tr td:first-child{
            padding-left: 10px;
        }

        table.debugCode tr td:last-child{
            color: #BEBEC5;
            line-height: 20px;
            padding-left: 12px;
            text-shadow: 0 1px 0 #FFFFFF;
        }