@import "bootstrap/mixins.less";
@import url('http://fonts.googleapis.com/css?family=Muli');

body{
    margin: 0;
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #2d2d2d;
    background: #FFFFFF url('images/body_pattern.png') repeat;

    .well, .breadcrumb, input,
    input[type="file"], select,
    textarea, .progress, code, pre {
      -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      background: #202020;
      background-color: rgba(0, 0, 0, 0.3);
    }

    > header{
        height: 300px;
        border-bottom: 1px solid #000;
        background: #1e1e1e url('images/header_pattern.png') repeat;

        div#topbar{

            div.logo{
                display: inline-block;
                text-indent: -9999em;
                font-size: 30px;
                padding:  25px 0 0 5px;
                width: 320px;
                height: 40px;
                background: url('images/logo.png') no-repeat 0 10px;
            }

            nav.pull-right{
                padding-top: 25px;

                ul{
                    display: inline;

                    li{
                        display: inline-block;
                        float: left;
                        padding-right: 10px;

                        a{
                            color: white;
                            font-weight: bold;
                            text-shadow: 0 1px 0 #000;

                            &:hover{
                                color: #2ba1ff;
                                text-shadow: 0 1px 0 #000;
                                text-decoration: none;
                            }
                        }

                        &:after{
                            content: " | ";
                            display: inline-block;
                            position: relative;
                            padding-left: 8px;
                        }
                        &:last-child{
                            &:after{
                                content: "";
                            }
                        }
                    }
                }
            }
        }

        div#nav{
            clear: both;

            div.navbar-inner{
                padding-left: 0;
                padding-right: 0;

                color: white;

                border-color: #39b9ff;
                .border-radius(0);
                .navGradient();

                ul.nav{
                    margin: 0;
                    border-right: 1px solid #41C9FF;

                    // each link
                    li{
                        //style the links
                        a{
                            color: white;
                            text-shadow: 0 1px 0 #000000;

                            padding: 10px 25px;
                            border-left: 1px solid #41c9ff;
                            border-right: 1px solid #208dff;

                            .transition(box-shadow .25s linear);
                        }

                        //add hovers, active class & the sub menus support
                        &:hover, &.active, &.open{
                            background: darken(#1eb2fc, 5%);
                            a{
                                background: transparent;
                                text-shadow: 0 1px 0 #1d87ff;
                                .box-shadow(0 3px 8px rgba(0, 0, 0, 0.5) inset);
                                .transition(color .25s linear);
                            }
                        }

                        //sub menus
                        &.dropdown{
                            ul.dropdown-menu{
                                padding: 0;
                                .box-shadow(0);
                                .border-radius(4px);

                                li{
                                    background: white;
                                    padding: 3px;
                                    .border-radius(4px);

                                    a{
                                        color: black;
                                        padding: 5px;
                                        .box-shadow(none);
                                        .border-radius(4px);
                                        border-left: 0;
                                        border-right: 0;
                                    }

                                    &:hover, &.active{
                                        a{
                                            color: white;
                                            background: darken(#1eb2fc, 5%);
                                            .box-shadow(0 3px 8px rgba(0, 0, 0, 0.5) inset);
                                        }
                                    }
                                }

                                .divider{
                                    height: 0;
                                    padding: 0;
                                    width: 80%;
                                    margin: 0 auto;
                                }

                                .nav-header{
                                    padding-left: 10px;
                                }

                            }
                        }
                    }
                }
          }
        }
    }

    > section{
        > div{
            header{
                .box-shadow(0 4px 2px rgba(0, 0, 0, 0.2));
                .border-radius(5px);
                padding: 15px;
                color: white;
                font-size: 15px;
                margin-top: 15px;
                margin-bottom: 5px;

                #gradient > .vertical(#212121, #191919);
            }

            section{
                .clearfix();
                background: white;
                min-height: 50px;
                padding: 5px;
                border: 1px solid #b7b7b7;
                .border-radius(5px);
                .box-shadow(0 4px 2px rgba(0, 0, 0, 0.2));

                &.no-padding{
                    padding: 5px 0;
                }
            }

            > aside{
                float: left;

                div.menu{

                    header{

                    }

                    section{

                    }

                }
            }

            > div#pageContent{
                float: right;


                > section{
                    padding: 0;

                    > header{
                        color: black;

                        .box-shadow(none);
                        .border-radius(0);
                        .border-top-radius(5px);
                        margin: 0;
                        padding: 10px;

                        top: 1px;
                        border-top: 1px solid #ffffff;
                        border-bottom: 1px solid #b7b7b7;

                        #gradient > .horizontal(#d4d6d9, #d3d5d8);
                        background-color: #1E1E1E;

                        ul.nav{
                            margin: 0;
                            padding: 0;

                            li{

                            }
                        }
                    }

                    > article{
                        padding: 2px;
                    }
                }
            }
        }

    }

    > footer{
        min-height: 200px;
    }

}

/** Normal Elements **/




.navGradient(){
    #gradient > .vertical(#39b9ff, #2ba1ff);
}