[submodule "modules/articles"]
	path = modules/articles
	url = git://github.com/cybershade/CS-Articles.git
[submodule "modules/pages"]
	path = modules/pages
	url = git://github.com/cybershade/CS-Pages.git
[submodule "modules/editor"]
	path = modules/editor
	url = git://github.com/cybershade/CS-Editor.git
[submodule "modules/dynapage"]
	path = modules/dynapage
	url = git://github.com/cybershade/CS-DynaPage.git
