
.debug, div[class^="debug"] {
    width: 100%;
    overflow: auto;
    margin: 0px 0px 10px 0px;
    background: white;
    color: black;
    font-family: Verdana;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 10px;
    line-height: 12px;
    display: block;
    max-width: 1000px;
}

    div[class^="debug"] div{
        display: block;
    }

    div[class^="debug"] span{ }

        div[class^="debug"] span.toggle{
            cursor: hand;
            cursor: pointer;
            font-weight: bold;
        }

        div[class^="debug"] span.label{
            padding: 2px;
            font-size: 10px;
        }
        div[class^="debug"] span.ident{
            color: #a2a2a2;
        }

    div[class^="debug"] ul li{
        display: block;
    }
    div[class^="debug"] ul li:hover{
    }

    div[class^="debug"] .row{
        display: block;
        margin: 0;
    }

	div[class^="debug"] div.header{
		background-color: #0E5B72;
        color: white;
        padding: 3px 5px;
        font-size: 12px;
        margin: 0 0 5px;
	}

ul, ul ul {
   list-style-type: none;
   color: black;
   margin: 0 10px;
}

    div#debug-tabs > ul{
        border: none;
        margin: 0 0 0 3px;
    }
    div#debug-tabs ul li a{
    }

    div#debug-tabs ul li.active a{
        background: #F5F5F5;
    }



/**
 *  Debug Code Table in the bottom.
 */

table.debugCode{
    background-color: #F7F7F9;
    box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset;
}

    table.debugCode tr{

    }

        table.debugCode tr td{
            border-top: none;
            padding: 0;
        }

        table.debugCode tr td.error{
            border: 1px solid red;
            background-color: #F2CECD;
        }

        table.debugCode tr td:first-child{
            padding-left: 10px;
        }

        table.debugCode tr td:last-child{
            color: #BEBEC5;
            line-height: 20px;
            padding-left: 12px;
            text-shadow: 0 1px 0 #FFFFFF;
        }