input:-webkit-autofill{color:#2a2a2a !important;}
.wrap{white-space:pre;white-space:pre-line;white-space:pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;white-space:-moz-pre-wrap;white-space:-hp-pre-wrap;word-wrap:break-word;}
.noBorder{border:0 !important;}
.noMargin{margin:0 !important;}
img.avatar{display:block;background:url('black-20.png') repeat;}
#contextmenu{margin:0;padding:0;border:1px solid #000;background:#cccccc;}#contextmenu li{list-style-type:none;margin:1px;padding:2px;cursor:pointer;}#contextmenu li.hover{background:#dddddd;}
