/** Default.css **/

/** Simple Rules **/
    /* Fix for chrome webkit autofilling form fields, and making them unreadable (yellow background and text) (iccle) */
    input:-webkit-autofill {
        color: #2a2a2a !important;
    }

    .wrap{
        white-space: pre;           /* CSS 2.0 */
        white-space: pre-line;      /* CSS 3.0 */
        white-space: pre-wrap;      /* CSS 2.1 */
        white-space: -pre-wrap;     /* Opera 4-6 */
        white-space: -o-pre-wrap;   /* Opera 7 */
        white-space: -moz-pre-wrap; /* Mozilla */
        white-space: -hp-pre-wrap;  /* HP Printers */
        word-wrap: break-word;      /* IE 5+ */
    }
    .noBorder{
        border: 0 !important;
    }
    .noMargin{
        margin: 0 !important;
    }


/** BBCode Stuff **/
span.bbcode_acronym {

    &:hover{

    }
}

table.bbcode_columns {

    td{

        &.bbcode_column {

        }
        &.bbcode_firstcolumn {

        }
    }
}

div.bbcode_quote {

    div{

        &.bbcode_quote_head {

            a{

                &:link {}
                &:visited {}
                &:hover {}
                &:active {}
            }
        }

        &.bbcode_quote_body {

        }
    }
}

div.bbcode_code {

    div{

        &.bbcode_code_head {

        }
        &.bbcode_code_body {
            white-space:normal;
            word-wrap: break-word;
            overflow:hidden;
        }
    }
}

/** Message Boxes **/
div.modal.inline{
    position: inherit;
    left: 0;
    top: 0;
    margin: 0 auto;
}

/** Comments **/
section#comments{}
    section#comments article{ }
    section#comments article header{ }
    section#comments article header div.comment-title{ }

    section#comments article blockquote{  }

/** Images **/

    img.avatar{
        display: block;
        background: url('black-20.png') repeat;
    }


/** Spinner **/
div#spinner_ { display:none; }



/** Fix the bootstrap border thing on mobile devices **/
@media (max-width: 767px) {

    body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


}





