

/** BreadCrumbs **/

nav#breadcrumbs {
    margin: 0;
}

nav#breadcrumbs ul{
    margin: 0;
}
nav#breadcrumbs hr{
    margin: 5px 0;
}
nav#breadcrumbs ul li.breadcrumb{
    margin: 0;
    padding: 0;
    display: inline-block;

}
